---
import { Image } from "astro:assets";
import { WORDPRESS_URL_MEDIA } from "astro:env/server";

const { data } = Astro.props;
let { titulo, img, text, galeria, slug } = data;

const imageFetch = async (id) => {
  return (await (await fetch(WORDPRESS_URL_MEDIA + id)).json()).source_url;
};
img = await imageFetch(img);
---

<div
  class="flex flex-col h-[450px] bg-white w-fit my-5 max-w-[400px] drop-shadow-lg rounded-2xl rounded-bl-none"
>
  <Image
    src={img}
    alt=""
    transition:name={`img-${slug}`}
    inferSize
    loading="eager"
    class="rounded-2xl rounded-bl-none w-full h-auto"
  />
  <div
    class="p-4 text-3xl text-center font-primary flex flex-col h-full items-center"
  >
    <p class="h-full flex items-start justify-center px-10">
      {titulo}
    </p>
    <a
      href=`/servicios/${slug}`
      class="bg-primary text-white mx-3 p-1 font-primary rounded-lg max-w-72 w-3/4 mb-2"
    >
      Conocer
    </a>
  </div>
</div>
