---
const { title, logo } = Astro.props;
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "aos/dist/aos.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.cdnfonts.com/css/pf-handbook-pro"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title title={title}></title>
    <ClientRouter />
    <style>
      * {
        overflow-x: hidden;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head><div id="fb-root"></div>
  <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v22.0&appId=451327663751847"
  ></script>

  <body
    class="relative *:font-primary bg-[#fbfbfb] bg-map bg-fixed bg-cover bg-center bg-no-repeat"
  >
    <Navbar logo={logo} />
    <slot />
    <Footer />
    <script>
      import { aosInit } from "../js/aos";

      // runs on initial page load
      aosInit();
      document.addEventListener("astro:after-swap", aosInit);
    </script>
  </body>
</html>
